# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

android/.kotlin/

# FVM Version Cache
.fvm/
android/build/
coverage/lcov.info
coverage/html/amber.png
coverage/html/cmd_line
coverage/html/emerald.png
coverage/html/gcov.css
coverage/html/glass.png
coverage/html/index-sort-f.html
coverage/html/index-sort-l.html
coverage/html/index.html
coverage/html/ruby.png
coverage/html/snow.png
coverage/html/updown.png
coverage/html/lib/app.dart.gcov.html
coverage/html/lib/index.html
coverage/html/lib/controllers/index-sort-f.html
coverage/html/lib/controllers/index-sort-l.html
coverage/html/lib/controllers/index.html
coverage/html/lib/controllers/medication_intake_manager.dart.gcov.html
coverage/html/lib/controllers/notification_scheduler.dart.gcov.html
coverage/html/lib/controllers/schedule_manager.dart.gcov.html
coverage/html/lib/controllers/supply_item_manager.dart.gcov.html
coverage/html/lib/data/model/administration_route.dart.gcov.html
coverage/html/lib/data/model/blood_test.dart.gcov.html
coverage/html/lib/data/model/ester.dart.gcov.html
coverage/html/lib/data/model/graph_calculator.dart.gcov.html
coverage/html/lib/data/model/index-sort-f.html
coverage/html/lib/data/model/index-sort-l.html
coverage/html/lib/data/model/index.html
coverage/html/lib/data/model/medication_intake.dart.gcov.html
coverage/html/lib/data/model/medication_schedule.dart.gcov.html
coverage/html/lib/data/model/molecule.dart.gcov.html
coverage/html/lib/data/model/supply_item.dart.gcov.html
coverage/html/lib/data/providers/blood_test_provider.dart.gcov.html
coverage/html/lib/data/providers/index-sort-f.html
coverage/html/lib/data/providers/index-sort-l.html
coverage/html/lib/data/providers/index.html
coverage/html/lib/data/providers/medication_intake_provider.dart.gcov.html
coverage/html/lib/data/providers/medication_schedule_provider.dart.gcov.html
coverage/html/lib/data/providers/supply_item_provider.dart.gcov.html
coverage/html/lib/services/app_database.dart.gcov.html
coverage/html/lib/services/index-sort-f.html
coverage/html/lib/services/index-sort-l.html
coverage/html/lib/services/index.html
coverage/html/lib/services/notification_service.dart.gcov.html
coverage/html/lib/services/preferences_service.dart.gcov.html
coverage/html/lib/services/repository.dart.gcov.html
coverage/html/lib/services/update_service.dart.gcov.html
coverage/html/lib/ui/views/index-sort-f.html
coverage/html/lib/ui/views/index-sort-l.html
coverage/html/lib/ui/views/index.html
coverage/html/lib/ui/views/main_page.dart.gcov.html
coverage/html/lib/ui/views/main_tab_config.dart.gcov.html
coverage/html/lib/ui/views/main_tabs.dart.gcov.html
coverage/html/lib/ui/views/chart/blood_test_page.dart.gcov.html
coverage/html/lib/ui/views/chart/chart_graph.dart.gcov.html
coverage/html/lib/ui/views/chart/chart_page.dart.gcov.html
coverage/html/lib/ui/views/chart/chart_slider.dart.gcov.html
coverage/html/lib/ui/views/chart/edit_blood_test_page.dart.gcov.html
coverage/html/lib/ui/views/chart/index-sort-f.html
coverage/html/lib/ui/views/chart/index-sort-l.html
coverage/html/lib/ui/views/chart/index.html
coverage/html/lib/ui/views/chart/new_blood_test_page.dart.gcov.html
coverage/html/lib/ui/views/home/home_page.dart.gcov.html
coverage/html/lib/ui/views/home/index-sort-f.html
coverage/html/lib/ui/views/home/index-sort-l.html
coverage/html/lib/ui/views/home/index.html
coverage/html/lib/ui/views/home/intake_tile.dart.gcov.html
coverage/html/lib/ui/views/home/take_medication_page.dart.gcov.html
coverage/html/lib/ui/views/home/settings/index.html
coverage/html/lib/ui/views/home/settings/settings_page.dart.gcov.html
coverage/html/lib/ui/views/home/settings/schedules/index-sort-f.html
coverage/html/lib/ui/views/home/settings/schedules/index-sort-l.html
coverage/html/lib/ui/views/home/settings/schedules/index.html
coverage/html/lib/ui/views/home/settings/schedules/new_schedule_page.dart.gcov.html
coverage/html/lib/ui/views/home/settings/schedules/schedules_page.dart.gcov.html
coverage/html/lib/ui/views/home/settings/schedules/edit_schedule/edit_schedule_main_info.dart.gcov.html
coverage/html/lib/ui/views/home/settings/schedules/edit_schedule/edit_schedule_notifications_page.dart.gcov.html
coverage/html/lib/ui/views/home/settings/schedules/edit_schedule/edit_schedule_page.dart.gcov.html
coverage/html/lib/ui/views/home/settings/schedules/edit_schedule/index-sort-f.html
coverage/html/lib/ui/views/home/settings/schedules/edit_schedule/index-sort-l.html
coverage/html/lib/ui/views/home/settings/schedules/edit_schedule/index.html
coverage/html/lib/ui/views/intakes/choose_schedule_page.dart.gcov.html
coverage/html/lib/ui/views/intakes/edit_intake_page.dart.gcov.html
coverage/html/lib/ui/views/intakes/index-sort-f.html
coverage/html/lib/ui/views/intakes/index-sort-l.html
coverage/html/lib/ui/views/intakes/index.html
coverage/html/lib/ui/views/intakes/intakes_page.dart.gcov.html
coverage/html/lib/ui/views/supplies/edit_item_page.dart.gcov.html
coverage/html/lib/ui/views/supplies/index-sort-f.html
coverage/html/lib/ui/views/supplies/index-sort-l.html
coverage/html/lib/ui/views/supplies/index.html
coverage/html/lib/ui/views/supplies/new_item_page.dart.gcov.html
coverage/html/lib/ui/views/supplies/pharmacy_page.dart.gcov.html
coverage/html/lib/ui/views/supplies/supply_item_card.dart.gcov.html
coverage/html/lib/ui/widgets/dialogs.dart.gcov.html
coverage/html/lib/ui/widgets/index-sort-f.html
coverage/html/lib/ui/widgets/index-sort-l.html
coverage/html/lib/ui/widgets/index.html
coverage/html/lib/ui/widgets/main_page_wrapper.dart.gcov.html
coverage/html/lib/ui/widgets/update_banner.dart.gcov.html
coverage/html/lib/ui/widgets/forms/base_form_field.dart.gcov.html
coverage/html/lib/ui/widgets/forms/dismiss_keyboard_single_child_scroll_view.dart.gcov.html
coverage/html/lib/ui/widgets/forms/form_date_field.dart.gcov.html
coverage/html/lib/ui/widgets/forms/form_dropdown_field.dart.gcov.html
coverage/html/lib/ui/widgets/forms/form_spacer.dart.gcov.html
coverage/html/lib/ui/widgets/forms/form_text_field.dart.gcov.html
coverage/html/lib/ui/widgets/forms/index-sort-f.html
coverage/html/lib/ui/widgets/forms/index-sort-l.html
coverage/html/lib/ui/widgets/forms/index.html
coverage/html/lib/ui/widgets/forms/model_form.dart.gcov.html
coverage/html/lib/util/date_helpers.dart.gcov.html
coverage/html/lib/util/decimal_helpers.dart.gcov.html
coverage/html/lib/util/index-sort-f.html
coverage/html/lib/util/index-sort-l.html
coverage/html/lib/util/index.html
coverage/html/lib/util/validators.dart.gcov.html
