# SPDX-FileCopyrightText: 2026 Délia Cheminot <delia@cheminot.net>
#
# SPDX-License-Identifier: AGPL-3.0-only

# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/
